
.design-container { 
    background-color: aqua;
    overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
    width: 100%; /* Đảm bảo rộng 100% */
    max-height: 0; /* Khởi tạo chiều cao là 0 */
    transition: max-height 0.5s ease-in-out; /* Hiệu ứng chuyển tiếp cho chiều cao */
  }
  
  .design-container.open {
    max-height: 500px; /* Hoặc chiều cao tối đa bạn mong muốn khi mở ra */
  }
  