.home-pages {
    background-image: url('./static/bg.png');
    display: flex;
    width: 201.4vh;
    height: 100vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-top: 10px;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.title > h1
{
    font-size: 60px;
}